*.pyc
python/vendor/*
jsp/target/*
spring-boot/target/*
/spring-boot/.idea/*
/spring-boot/hello-goose.iml
binary/app/binary
nodejs/node_modules
.vscode/*
kotlin/build
kotlin/out
kotlin/.gradle
kotlin/.idea
/.idea/*
